export LS_OPTIONS='--color=auto'
eval "`dircolors`"
export LS_COLORS
alias ls='/usr/bin/ls $LS_OPTIONS -lA'
alias ll='/usr/bin/ls $LS_OPTIONS -l'
alias l='/usr/bin/ls $LS_OPTIONS'
alias cat='bat --paging=never -p $@'
alias fd=fdfind
